body {
    background-color: rgb(241, 230, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    color: white;
    background-color: rgb(124, 111, 95);
    box-shadow: 0 4px 8px 0 rgb(124, 111, 95);
}

/* #scoreboard {
    flex-basis: 48%;
    align-items: flex-start;
    margin-left: 2%;
} */
#timer {
   text-align: right;
   margin-right: 10px;
   font-size: 25px;
   padding-right: 10%;
}

.container {
    /* display: block; */
    /* margin: 0 auto to center on page? */
    /* align-items: center;
    flex-direction: column; */
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(193, 181, 166);
    box-shadow: 0 4px 8px 0 rgb(124, 111, 95);
    border-radius: 50px;
    border-style: groove;
    border-color: rgb(52, 34, 11);
    border-width: 3px;
}
.hidden {
    display: none;
}

.shown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#intro h2 {
    /* text-align: center; */
    color: rgb(52, 34, 11);
    font-size: 80px;
    margin-bottom: 0;
}

#intro p {
    font-size: 32px;
    margin-top: 0;
}

h4 {
    text-align: center;
}

button {
    background-color: rgb(241, 230, 216);
    border-width: 3px;
    border-color: rgb(90, 62, 62);
    color: rgb(90, 62, 62);
    padding: 10px;
    margin: 24px;
    border-radius: 10px;
    font-size: 18px;
}

#startButton {
    margin-bottom: 30px;
    font-size: 15px;   
}

h3 {
    color: rgb(52, 34, 11);
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

